.hero-image {
    background-image: url(../img/dc.jpg);
    background-position: top;
    background-size: cover;
}

.section-image {
    background-image: url(../img/building.jpg);
    background-position: bottom;
    background-size: cover;
}

.webshop-image {
    background-image: url(../img/webshop.jpg);
    background-position: bottom;
    background-size: cover;
}

.studio-image {
    background-image: url(../img/studio.jpg);
    background-position: bottom;
    background-size: cover;
}

.background {
    background-color: lightgray !important;
}
.text{
    margin: 2px;
}

footer{
    background-color: rgb(162, 162, 162) !important;
}